<h1>Welcome ~:3</h1>

<%= link_to 'Manage rooms', rooms_path%> <br>
<%= link_to 'Manage guests', guests_path%> <br>
<%= link_to 'Manage invoices', invoices_path%> <br>
<%= link_to 'Manage items', items_path%> <br>